openapi: 3.1.0
info:
  title: CCXT Order Router API
  version: 0.3.0
  description: |
    Smart order router over live L2 order books from ~60 exchanges (ccxt.pro WebSocket).

    **Prices are book-walked, not top-of-book.** `/price/best` requires an `amount` and
    walks each venue's cached book to that size, returning the volume-weighted average
    price plus taker fee. For any non-trivial size the venue with the best top-of-book
    price is frequently *not* the venue with the best price for your actual size.

    **Rank on `effectivePriceWithFee`, never `averagePrice`.** Fees differ by up to ~4x
    between venues and routinely invert the ranking.

    ### Two responses callers must handle
    - `best` may be `null` when every venue's book is older than the staleness
      threshold. This is a deliberate refusal to quote stale data, not an error.
      It is common at full discovery scale — treat it as "no reliable price".
    - `fullyFillable: false` means the requested size exceeds cached depth.
      `averagePrice` then reflects only the portion that filled; do not treat it as
      a fillable price for the full amount.
  license:
    name: MIT
servers:
  - url: https://docs.ccxt.com/router
    description: Live deployment (path-mounted; provider firewall permits only 22/80/443)
  - url: http://localhost:8080
    description: Local development
security:
  - ApiKeyHeader: []
  - BearerToken: []
tags:
  - name: Routing
  - name: Market data
  - name: Operations
paths:
  /health:
    get:
      tags: [Operations]
      summary: Liveness probe
      description: The only unauthenticated route, so orchestrator probes work before credentials are injectable. Exposes nothing but status and uptime.
      security: []
      responses:
        '200':
          description: Service is up
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  uptimeSec: { type: number, example: 1183.4 }
  /price/best/{symbol}:
    get:
      tags: [Routing]
      summary: Best execution price across venues for a given size
      parameters:
        - name: symbol
          in: path
          required: true
          description: Unified ccxt symbol, URL-encoded (`BTC/USDT` -> `BTC%2FUSDT`).
          schema: { type: string }
          example: BTC%2FUSDT
        - name: side
          in: query
          required: false
          description: Buy walks the ask side, sell walks the bid side. Defaults to buy.
          schema: { type: string, enum: [buy, sell], default: buy }
        - name: amount
          in: query
          required: true
          description: Order size in BASE currency units. Must be positive and finite.
          schema: { type: number, format: double, exclusiveMinimum: 0 }
          example: 5
        - name: strategy
          in: query
          description: |
            `best_single` — one venue (a route of length 1).
            `split_optimal` — minimum cost across the consolidated fee-adjusted book, unlimited venues.
            `split_capped` — best price using at most `maxVenues`. Greedy approximation, not a proven
            optimum: it solves unconstrained, keeps the highest-volume venues, then re-solves.
          schema: { type: string, enum: [best_single, split_optimal, split_capped], default: best_single }
        - name: maxVenues
          in: query
          description: Venue cap for `split_capped`. Fewer venues means less execution risk and fewer funded accounts.
          schema: { type: integer, minimum: 1, default: 3 }
        - name: includeFees
          in: query
          description: Set false to rank on raw price only — useful with negotiated tiers or maker rebates. Then feeCost is 0 and effectivePrice equals averagePrice.
          schema: { type: boolean, default: true }
        - name: minLegNotional
          in: query
          description: |
            Suppress legs below this quote-currency notional and reallocate the freed size, so a
            split does not produce legs that would be rejected by venue minimum-order rules.
            If EVERY leg falls below it the route is kept rather than emptied.
          schema: { type: number, minimum: 0, default: 0 }
        - name: exchanges
          in: query
          description: |
            Comma-separated venue allowlist — only these are considered, e.g. `binance,kraken,bybit`.
            Omit for no restriction. An explicitly EMPTY value means no venues (yielding an empty
            route), not all venues.
          schema: { type: string }
          example: binance,kraken,bybit
        - name: certified
          in: query
          description: |
            When true, consider only exchanges CCXT marks as certified — the subset it actively
            maintains and tests to a higher bar (22 of 80 pro classes at time of writing).
            Composes with `exchanges` as an intersection.
          schema: { type: boolean, default: false }
        - name: x-request-id
          in: header
          description: Optional caller-supplied audit id. Echoed in the body and the `x-request-id` response header; one is minted if absent.
          schema: { type: string, maxLength: 200 }
      responses:
        '200':
          description: The fill plan. `route` is empty when nothing sufficiently fresh could fill.
          headers:
            x-request-id:
              schema: { type: string }
              description: Audit id, matching `requestId` in the body.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RouteResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /orderbook/{exchange}/{symbol}:
    get:
      tags: [Market data]
      summary: Cached L2 order book for one venue
      parameters:
        - name: exchange
          in: path
          required: true
          schema: { type: string }
          example: binance
        - name: symbol
          in: path
          required: true
          description: URL-encoded unified symbol.
          schema: { type: string }
          example: BTC%2FUSDT
      responses:
        '200':
          description: Cached book
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CachedOrderBook' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: No cached book for that exchange/symbol pair
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
  /symbols:
    get:
      tags: [Market data]
      summary: Symbols currently cached
      responses:
        '200':
          description: Symbol list
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbols:
                    type: array
                    items: { type: string }
                    example: [BTC/USDT, ETH/USDT]
        '401': { $ref: '#/components/responses/Unauthorized' }
  /exchanges/status:
    get:
      tags: [Operations]
      summary: Per-exchange connection health
      responses:
        '200':
          description: Health per venue
          content:
            application/json:
              schema:
                type: object
                properties:
                  exchanges:
                    type: array
                    items: { $ref: '#/components/schemas/ExchangeHealth' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /metrics:
    get:
      tags: [Operations]
      summary: Prometheus metrics
      description: |
        Authenticated deliberately — it exposes the venue list, traffic volume and
        internal health, which is exactly the reconnaissance an attacker wants.
        Scrapers must send the API key.

        The signal that matters most is `order_router_exchange_last_update_age_seconds`:
        a venue can hold an open socket while its subscription is silently dead, so
        `connected` stays 1 while data rots. Connection state alone will not catch it.
      responses:
        '200':
          description: Prometheus text exposition format
          content:
            text/plain:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
    BearerToken:
      type: http
      scheme: bearer
  responses:
    Unauthorized:
      description: |
        Missing or invalid key. Both cases return an identical body by design, so the
        response is not an oracle for probing. Unknown paths also return 401 rather
        than 404, to avoid revealing which routes exist.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { error: unauthorized }
    BadRequest:
      description: Invalid parameters (e.g. missing, non-numeric, or non-positive amount)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example: { error: amount query param must be a positive number }
    RateLimited:
      description: Rate limit exceeded. Bucketed per API key once the key is valid, otherwise per client IP.
      headers:
        retry-after: { schema: { type: integer }, description: Seconds until the window resets }
        x-ratelimit-limit: { schema: { type: integer } }
        x-ratelimit-remaining: { schema: { type: integer } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
    BookLevel:
      type: object
      properties:
        price: { type: number, format: double }
        amount: { type: number, format: double }
    CachedOrderBook:
      type: object
      properties:
        exchangeId: { type: string, example: binance }
        symbol: { type: string, example: BTC/USDT }
        bids:
          type: array
          items: { $ref: '#/components/schemas/BookLevel' }
        asks:
          type: array
          items: { $ref: '#/components/schemas/BookLevel' }
        exchangeTimestamp:
          type: [integer, 'null']
          description: Venue-supplied timestamp in ms. Absent on some venues and subject to clock drift; prefer receivedAt for freshness.
        receivedAt:
          type: integer
          description: Local arrival time in ms. The authoritative freshness measure.
        sequence: { type: integer }
    RoutingQuote:
      type: object
      properties:
        exchangeId: { type: string, example: binance }
        side: { type: string, enum: [buy, sell] }
        requestedAmount: { type: number, format: double }
        filledAmount:
          type: number
          format: double
          description: How much of the requested size the cached book could actually fill.
        averagePrice:
          type: [number, 'null']
          description: Volume-weighted price across the levels walked. Null if nothing could fill.
        effectivePriceWithFee:
          type: [number, 'null']
          description: averagePrice adjusted for the venue's taker fee. RANK ON THIS.
        takerFeeRate: { type: number, format: double, example: 0.001 }
        fullyFillable:
          type: boolean
          description: False means the requested size exceeded cached depth.
        bookAgeMs:
          type: integer
          description: Age of the underlying book. Quotes older than the staleness threshold are excluded from `best`.
    RouteLeg:
      type: object
      properties:
        exchangeId: { type: string, example: lbank }
        amount: { type: number, format: double, description: Size to fill on this venue. }
        averagePrice: { type: number, format: double, description: Raw VWAP for this leg, before fees. }
        takerFeeRate: { type: number, format: double, example: 0.001 }
        feeCost: { type: number, format: double, description: What the fee costs on this leg, in quote currency. }
        effectivePrice: { type: number, format: double, description: Fee-adjusted price for this leg. }
    RouteResult:
      type: object
      description: |
        There is deliberately no `best` field. A single-venue answer is just a route of length 1,
        so strategy determines the length and nothing else changes. Two fields carrying the same
        answer would be two sources of truth, and callers would eventually read the wrong one and
        under-fill.
      properties:
        requestId:
          type: string
          description: Audit id for this recommendation. Logged server-side alongside the full decision.
        calculatedAt:
          type: integer
          description: Epoch ms at which the route was computed — subtract from your receive time to measure network delay.
        calculatedAtIso: { type: string, format: date-time }
        symbol: { type: string, example: BTC/USDT }
        side: { type: string, enum: [buy, sell] }
        amount: { type: number, format: double }
        strategy: { type: string, enum: [best_single, split_optimal, split_capped] }
        includeFees: { type: boolean }
        exchangesFilter:
          type: [array, 'null']
          items: { type: string }
          description: The venue allowlist actually applied, echoed back for auditability. Null when unrestricted.
        certifiedOnly:
          type: boolean
          description: Whether the certified-only filter was applied.
        route:
          type: array
          description: The fill plan, largest leg first. Empty when nothing fresh enough could fill.
          items: { $ref: '#/components/schemas/RouteLeg' }
        filledAmount: { type: number, format: double }
        fullyFillable:
          type: boolean
          description: False means cached depth could not cover the requested size; filledAmount shows how far it got.
        routeVwap:
          type: [number, 'null']
          description: Fee-adjusted VWAP across the whole route.
        routeNotional: { type: number, format: double }
        totalFeeCost: { type: number, format: double }
        savingVsBestSingleBps:
          type: [number, 'null']
          description: How much the route beats the best single venue, in basis points. Positive means better, for both sides.
        quotes:
          type: array
          description: Every venue considered, including stale and unfillable ones — the "why these?" diagnostic.
          items: { $ref: '#/components/schemas/RoutingQuote' }
    ExchangeHealth:
      type: object
      properties:
        exchangeId: { type: string }
        connected: { type: boolean }
        lastUpdateAt: { type: [integer, 'null'] }
        updateCount: { type: integer }
        reconnectCount: { type: integer }
        lastError: { type: [string, 'null'] }
